<nav>
    <form action="/" method="GET" style="display:inline;">
      <button type="submit">Home</button>
    </form>
  
    <form action="/add" method="GET" style="display:inline;">
      <button type="submit">Add New Pokémon</button>
    </form>
  
    <form action="/pokemon" method="GET" style="display:inline;">
      <button type="submit">Search Pokémon</button>
    </form>
  
    <form action="/move" method="GET" style="display:inline;">
      <button type="submit">Search Moves</button>
    </form>
</nav>
  