<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header><%- include('header', {}); %></header>
    <div>Home of my pokemon sql database project, made with Postgres and Express. You can use it to view relationship between moves and pokemon.
        
    </div>
</body>
</html>