<!-- todo: write out the move_data, then map the pokemon data to individual buttons that send to pokemon page -->
<div class="move-container">
    <div class="move-container-info">
        <div class="move-container-content">
            <%= move_data.name %>
            <%=%>
        </div>
        <form method="POST" action="/pokemon/:<%= value.id %>">
            <button type="submit">read</button>
        </form>
    </div>
    
    
</div>
  