<!-- todo: write out the pokemon_data, then map the move data to individual buttons that send to move page -->
<div class="pokemon-container">
    <div class="pokemon-container-info">
        <div class="pokemon-container-content">
            <%= pokemon_data.name %>
            <img src="<%= pokemon_data.img %>" alt="<%= pokemon_data.name %> picture">
        </div>
        <% if (move_data && move_data.length > 0) { %>
            <h2>Moves:</h2>
            <% move_data.map(move => { %>
              <div class="result-card">
                <h3><%= move %></h3>
      
              </div>
            <% }); %>
          <% } else { %>
            <h2>No moves found</h2>
          <% } %>
    </div>
    
    
</div>
  