<!-- input: results -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Moves</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <%- include('header', {}); %>
  </header>
  <div class="search-move-container">
      <div class="search-form">
        <form action="/move" method="GET">
          <input type="text" name="query" placeholder="Search for a move...">
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="results-container">
        <% if (results && results.length > 0) { %>
          <% results.map(result => { %>
            <form class="result-card" action="/move/<%= result.id %>" method="GET">
                <button type="submit">
                    <h3><%= result.name %></h3>
                </button>
            </form>
          <% }); %>
        <% } %>
      </div>
  </div>

</body>
</html>
